.page{
	display: flex;
	flex-direction: column;
	height: 100%;
	&-header, &-main, &-footer{
		padding: 12px 24px;
	}
	&-main{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&-footer{
		margin-top: auto;
  }
}