@import '../../../[locale]/globals/mixins';

.card{
	color: var(--text-color);
	cursor: pointer;
	padding: 16px;
	border: 1px solid var(--border-color);
	height: 100%;
	position: relative;
	overflow: hidden;
	&-wrapper{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&-title{
		margin-bottom: 4px;
	}
	&-description{
		@include text-splice(4);
		margin-bottom: 16px;
  }
	&-footer{
		margin-top: auto;
	}
	&-link{
		transform: translate(calc(100% + 32px), calc(100% + 32px));
		transition: transform 0.1s linear;
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	&:hover{
		.card-link{
			transform: translateX(0);
		}
	}
}